
{{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{success_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}
<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">New Game</h3>
    </div>
    <div class="card-body text-right">
      <form action="/app/app/games/new-game" method="POST">
        <div class="mb-3">
          <label for="title">Title:</label>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Title"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="description">Description:</label>
          <textarea
            name="description"
            class="form-control"
            placeholder="Description"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="type">Genre :</label>
          <input
            type="text"
            name="type"
            class="form-control"
            placeholder="Type"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="price">Price:</label>
          <input
            type="text"
            name="price"
            class="form-control"
            placeholder="Price"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="engine">Engine:</label>
          <input
            type="text"
            name="engine"
            class="form-control"
            placeholder="Engine"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="platform">Platform:</label>
          <input
            type="text"
            name="platform"
            class="form-control"
            placeholder="Windows"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="classification">Classification:</label>
          <input
            type="text"
            name="classification"
            class="form-control"
            placeholder="+18"
            autofocus
          />
        </div>
        <button class="btn btn-primary w-100" type="submit">
          Save
        </button>
      </form>
    </div>
  </div>
</div>